@import "../components/variables";

// start header
header {
  padding: 12px 0;

  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        width: 135px;
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 40px;

      .links {
        display: flex;
        align-items: center;
        gap: 15px;

        .link {
          font-size: 17px;
          font-weight: 400;
          transition: all 0.3s;
          font-weight: 700;

          &:hover,
          &.active {
            background: $primary-color;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            font-weight: 500;
          }
        }
      }

      .lang {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        span {
          font-weight: 600;
        }
      }

      .btn_contact {
        background: $primary-color;
        color: white !important;
        padding: 7px 25px;
        border-radius: 50px;
      }

      .icon_menu {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    padding: 10px 0;

    .line {
      .logo {
        img {
          width: 100px;
        }
      }

      .info {
        gap: 10px;

        .links {
          display: none;
        }

        .lang {
          display: none;
        }

        .btn_contact {
          padding: 5px 11px;
          font-size: 12px;
        }

        .icon_menu {
          cursor: pointer;
          display: block;

          svg {
            width: 25px;
          }
        }
      }
    }
  }
}
// end header

// start main_head
.main_head {
  height: 250px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .content {
      text-align: center;

      .links {
        font-size: 18px;
        font-weight: 500;

        a {
          color: $primary-color !important;
        }
      }

      h1 {
        font-weight: 600;
      }

      .desc {
        max-width: 600px;
        color: gray;
      }
    }
  }
}
// end main_head

// start menu_mobile

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.393);
  z-index: 998;
  display: none;

  &.active {
    display: block;
  }
}

.menu_mobile {
  padding: 20px;
  color: $dark-color;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: all 0.4s;

  &.active {
    left: 0;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    img {
      width: 100px;
    }

    i {
      font-size: 22px;
      cursor: pointer;
    }
  }

  .links {
    .link {
      font-size: 20px;
      font-weight: 500;
      display: block;
      margin-bottom: 15px;

      svg {
        width: 17px;
        color: gray;
      }

      &.active {
        color: $primary-color !important;
      }
    }

    .link_list {
      position: relative;

      &:hover {
        .list {
          opacity: 1;
          z-index: 100;
          top: 60px;
        }
      }

      .list {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        font-weight: 600;

        padding: 8px 10px;
        border-radius: 5px;
        width: 170px;
        border: 1px solid #e2e2e2;
        opacity: 0;
        z-index: -1;
        transition: all 0.4s;

        .item {
          display: block;
          font-weight: 600;
          color: #37373c !important;

          &:hover {
            color: $primary-color !important;
          }

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .lang_list2 {
    position: relative;
    .head {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 0;
      gap: 6px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      span {
        font-weight: 600;
      }
    }

    .list {
      position: absolute;
      top: 35px;
      left: 0;
      padding: 8px;
      border-radius: 6px;
      box-shadow: 0px 3px 9px rgb(206, 208, 221);
      min-width: 170px;
      z-index: 5;
      background-color: white;
      display: none;
      color: black;

      &.active {
        display: block;
      }

      &.list2 {
        z-index: 15;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
      }

      .title {
        font-size: 22px;
        font-weight: 500;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        .text {
          .name {
            font-weight: 500;
          }

          .email {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            color: gray;
            margin-top: 4px;
          }
        }
      }
    }
  }

  .btn_contact {
    background: linear-gradient(45deg, #8785f1 0%, $primary-color 100%);
    color: white !important;
    font-weight: 500;
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
  }
}
// end menu_mobile
